
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato/Lato-Bold.ttf");
    
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: "OpenSans";
    background-color: bisque;
    color:rgb(105, 46, 4);
}

h1, h2, h3, h4 {
    font-family: "Lato";    
}

.mainpadding {
    padding: 20px 16px;    
}

body>header {
    text-align: center;
    background-color: rgb(250, 203, 145);
    padding: 50px 15px;
}

body>header>h1 {    
    padding: 20px 15px;
}

main article {
    margin: 50px 0px 0px;
    padding: 20px;   
}

article ~ article {
    border: 1px solid rgb(105, 46, 4);
    border-radius: 10px;
}
main article section {
    margin:30px 0 0;    
}

header>nav>a {
    color:rgb(105, 46, 4);
    margin: 10px;    
}

header>nav>a:hover {
    color:rgb(70, 29, 2);    
    font-weight: bold;
}

header>nav>a:active {
    background-color:rgb(143, 101, 51);    
}

ol a {
    color:rgb(105, 46, 4);
}

ol a:hover {
    color:rgb(105, 46, 4);
    font-weight: bold;
}

ol a:active {
    background-color:rgb(143, 101, 51);
}

